# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.venv/
env/
venv/
*.env

# OS files
.DS_Store
Thumbs.db

src/lakh-midi-clean/
src/test_chord_dataset.csv

midi_folder/*.midi

# Logs files
*.log
*.tmp

# VS Code
.vscode/.DS_Store
.DS_Store
